{% extends "base.html" %}
{% load static %}

{% block title %} MENTOR {% endblock %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Learning Today,<br>Leading Tomorrow</h1>
      <h2>Gestión de cursos y estudiantes</h2>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Popular Courses Section ======= -->
    <section id="popular-courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Cursos</h2>
          <p>Cursos populares</p>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <p>Top 3 de los cursos con más estudiantes en los últimos 6 meses</p>

          <div class="table-responsive py-2">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Horario</th>
                  <th>Inicio</th>
                  <th>Fin</th>
                  <th>Cant. estudiantes</th>
                </tr>
              </thead>
              <tbody>
                {% for course in courses %}
                <tr>
                  <td>{{ course.name }}</td>
                  <td>{{ course.schedule }}</td>
                  <td>{{ course.date_init | date:'d/m/Y' }}</td>
                  <td>{{ course.date_end | date:'d/m/Y' }}</td>
                  <td>{{ course.students.count }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>


        </div>

      </div>
    </section><!-- End Popular Courses Section -->

{% endblock%}