{% extends "base.html" %}
{% load static %}

{% block title %} Listado de cursos {% endblock %}


{% block content %}

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Listado de cursos asociados</h2>
      </div>
    </div><!-- End Breadcrumbs -->

    <section id="course-details" class="course-details">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                  <div class="card-body">
                    <h3>Datos del estudiante</h3>
                    <div class="course-info d-flex justify-content-between align-items-center">
                      <h5><strong>Nombre</strong></h5>
                      <p>{{ student.name }} {{ student.surname }}</p>
                    </div>
                    <div class="course-info d-flex justify-content-between align-items-center">
                      <h5><strong>Edad</strong></h5>
                      <p>{{ student.age }}</p>
                    </div>
                    <div class="course-info d-flex justify-content-between align-items-center">
                      <h5><strong>Correo electrónico</strong></h5>
                      <p>{{ student.email }}</p>
                    </div>
                  </div>
                </div>
          </div>

          <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <div class="table-responsive py-2">
                <table class="table table-striped py-2">
                  <h3>Cursos asociados</h3>
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Horario</th>
                      <th>Inicio</th>
                      <th>Fin</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for course in courses %}
                    <tr>
                      <td>{{ course.name }}</td>
                      <td>{{ course.schedule }}</td>
                      <td>{{ course.date_init | date:'d/m/Y' }}</td>
                      <td>{{ course.date_end | date:'d/m/Y' }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>


{% endblock %}